.button{
    background: transparent;
    border: 2px solid var(--main-white);
    border-radius: 50px;
    color: var(--main-white);
    font-size: 20px;
    font-weight: 650;
    padding: .8rem 2.8rem .8rem 2.8rem;
}